################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ReportGenerator.Console.NetCore/Properties/PublishProfiles
